<html>
<head>
	<title>$tonks</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="css/stonks.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/boostrap-theme.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</head>
<!-- Main Page -->
<body>
	<!-- Heading -->
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 id="stonks">$tonks</h1>
		</div>
	</div>
	<!-- Panels (Maybe Scrollable Navbars in the Future?) -->
	<!-- For the education section, this is only 1 panel! -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Education</h2>
			<p>Get invested in investing!</p>
		</div>
		<div class="panel-body">
			<h3>Investment 101</h3>
		</div>
		<div class="panel-body">
			<h3>Stocks</h3>
		</div>
		<div class="panel-body">
			<h3>Bonds</h3>
		</div>
		<div class="panel-body">
			<h3>Cash Equivalent</h3>
		</div>
	</div>
	<!-- Navbar -->
	<nav class="navbar navbar-fixed-bottom">
		<ul class="nav nav-pills nav-justified">
			<li class="nav-item">
    		<a class="nav-link" href="#">Investing</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link" href="#">Education</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link" href="#">Home</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link" href="#">Search</a>
  		</li>
			<li class="nav-item">
    		<a class="nav-link" href="#">Profile</a>
  		</li>
    </ul>
	</nav>
	<!-- I'll leave the back-end (aka Handlebars, AJAX, Node.js) to Myles -->

	<!-- We should only be concerned about the functionality of the -->
	<!-- Home and Education buttons for now. -->

	<!-- Navbar remains unaltered in all pages (Education, Search, etc) -->
</body>
</html>
