<html>
<head>
	<title>$tonks</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/boostrap-theme.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</head>
<body>
	<p>Begin here (or replace this with any static code already written).</p>
</body>
</html>
