<html>
<head>
	<title>$tonks</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- This is version 3.4.1! -->
	<link href="css/stonks.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/boostrap-theme.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</head>
<!-- Main Page -->
<body>
	<!-- Heading -->
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="stonks">$tonks</h1>
			<p class="stonks">Taking You to the Moon<br>
				 								One Lesson at a Time<br>
												Or Whatever Works Best For You</p>
		</div>
	</div>
	<!-- Heading End -->

	<!-- Log-In -->
	<!-- The index page is now the log-in screen! -->
	<!-- There should be an option for a facebook login (see lab 6) -->
	<form class="form-horizontal">
  	<div class="form-group">
    	<label for="inputEmail" class="col-sm-2 control-label">Email</label>
    	<div class="col-sm-10">
      	<input type="email" class="form-control" id="inputEmail" placeholder="Email">
    	</div>
  	</div>
  	<div class="form-group">
    	<label for="inputPassword" class="col-sm-2 control-label">Password</label>
    	<div class="col-sm-10">
      	<input type="password" class="form-control" id="inputPassword" placeholder="Password">
    	</div>
  	</div>
  	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
				<!-- This is simply a placeholder: its a link to the home page! -->
				<!-- Tell me asap if we should still add a separate sign-up page! -->
      	<a class="btn btn-default" href="/home" role="button">Sign-in</a>
    	</div>
  	</div>
	</form>
	<h3>or</h3>
	<!-- The button below is how someone signs-in with facebook -->
	<!-- When someone signs-in with facebook, he/she also goes straight to the home page -->
	<!-- I will let you (Myles) decide on what FB info gets rendered in the Profile section -->
	<input class="btn btn-default" type="button" value="Log-In with Facebook">
	<!-- End of Login -->

	<!-- I have comments scattered throughout the handlebars pages if you need more info -->
	<!-- I also sent an e-mail about "each loops," which should make creating JSONs easier. -->
	<!-- Lab 4 contains info about "each loops"! -->
	<!-- When viewing the project in Chrome (or any browser), toggle to a "mobile" view -->
	<!-- The final navbar is a vertical one because making a horizontal one is a pain DX -->
</body>
</html>
