<html>
<head>
	<title>$tonks - All About Graphs</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- This is version 3.4.1! -->
	<link href="css/stonks.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/boostrap-theme.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</head>

<!-- Main Page -->
<body>
	<!-- Heading -->
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="stonks">$tonks</h1>
			<p class="stonks">Taking You to the Moon<br>
				 								One Lesson at a Time<br>
												Or Whatever Works Best For You</p>
		</div>
	</div>
	<!-- Heading End -->

	<!-- Education -->
	<div class="panel-group">
		<!-- Lesson 1: Basic Tips on Investing Section - Graphs -->
		<!-- This is Panel 1! -->
		<div class="panel panel-default" id="Review">
			<div class="panel-heading">
				<h2>Graphs</h2>
			</div>
			<div class="panel-body">
				<h3>Requirement/s<h3>
				<p>Basic Coordinate Geometry
			</div>
			<div class="panel-body">
				<h3>Recommended Areas in $tonks Investing Portion<h3>
				<p>The Top Graph</p>
			</div>
		</div>
		<!-- End of Panel 1 -->

	</div>
	<!-- End of Dashboard -->

	<!-- Navbar -->
	<nav class="navbar navbar-fixed-bottom">
		<ul class="nav nav-tabs nav-justified">
			<!-- Active denotes what page a user is currently on! -->
			<li>
    		<a href="/">Home</a>
  		</li>
			<li class="active">
    		<a href="/education">Education</a>
  		</li>
			<li>
    		<a href="/investing">Investing</a>
  		</li>
			<li>
    		<a href="/profile">Profile</a>
  		</li>
			<li class="#">
				<a href="/support">Support</a>
			</li>
    </ul>
	</nav>

	<!-- This is the placeholder page that other sections link to -->
</body>
</html>
