<html>
<head>
	<title>$tonks - Investing Tools: The Graph</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- This is version 3.4.1! -->
	<link href="css/stonks.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/boostrap-theme.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</head>

<!-- Main Page -->
<body>
	<!-- Heading -->
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="stonks">$tonks</h1>
			<p class="stonks">Taking You to the Moon<br>
				 								One Lesson at a Time<br>
												Or Whatever Works Best For You</p>
		</div>
	</div>
	<!-- Heading End -->

	<!-- Lesson 1: Graph Page -->
	<!-- This is a placeholder page and for demonstration purposes -->
	<h1 class="lesson-title">Investing Tools: The Graph</h1>
	<div class="panel-group">
		<!-- Lesson 1: Basic Tips on Investing Section - Graphs -->
		<!-- This is Panel 1! -->
		<div class="panel panel-default" id="Review">
			<div class="panel-heading">
				<h2>Required Knowledge</h2>
			</div>
			<div class="panel-body">
				<h3>Basic Understanding of Coordinate Geometry</h3>
				<h3>Basic Understanding of the Metric System and Currencies</h3>
			</div>
		</div>
		<div class="panel panel-default" id="Review">
			<div class="panel-heading">
				<h2>Investing Section Feature/s that Benefit From This Lesson</h2>
			</div>
			<div class="panel-body">
				<a href="/investing">
					<h3>The Stock Performance (Graph)</h3>
				</a>
			</div>
		</div>
	</div>

	<!-- Start Lesson Button -->
	<!-- For this prototype, this button does nothing -->
	<button class="btn btn-default btn-lg" type="submit">Start Lesson</button>

	<!-- Navbar -->
	<nav class="navbar navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav nav-tabs nav-justified">
				<li>
    			<a href="/home">Home</a>
  			</li>
				<li>
    			<a href="/education">Education</a>
  			</li>
				<li>
    			<a href="/investing">Investing</a>
  			</li>
				<li>
    			<a href="/profile">Profile</a>
  			</li>
				<li>
					<a href="/support">Support</a>
				</li>
    	</ul>
		</div>
	</nav>
</body>
</html>
