<html>
<head>
	<title>$tonks - Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- This is version 3.4.1! -->
	<link href="css/stonks.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/boostrap-theme.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</head>

<!-- Main Page -->
<body>
	<!-- Heading -->
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="stonks">$tonks</h1>
			<p class="stonks">Taking You to the Moon<br>
				 								One Lesson at a Time<br>
												Or Whatever Works Best For You</p>
		</div>
	</div>
	<!-- Heading End -->

	<!-- The profile page will contain information that is rendered from a facebook (or account) login! -->
	<!-- I will leave the "log-out" functionality and what information is dynamically rendered from log-in up to you (Myles).
	<!-- When a person logs out, he/she cannot access the app unless he/she logs back in -->
	<!-- If you need a "template," try copy and pasting the panel format I've been using -->
	<!-- Here's a link on how to use panels: https://getbootstrap.com/docs/3.4/components/#panels -->

	<!-- Navbar -->
	<nav class="navbar navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav nav-tabs nav-justified">
				<!-- Active denotes what page a user is currently on! -->
				<!-- The list below may be a handlebars loop! -->
				<li>
    			<a href="/home">Home</a>
  			</li>
				<li>
    			<a href="/education">Education</a>
  			</li>
				<li>
    			<a href="/investing">Investing</a>
  			</li>
				<li class="active">
    			<a href="/profile">Profile</a>
  			</li>
				<li>
					<a href="/support">Support</a>
				</li>
    	</ul>
		</div>
	</nav>
</body>
</html>
