<html>
<head>
	<title>$tonks - Support</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- This is version 3.4.1! -->
	<link href="css/stonks.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/boostrap-theme.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</head>

<!-- Main Page -->
<body>
	<!-- Heading -->
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="stonks">$tonks</h1>
			<p class="stonks">Taking You to the Moon<br>
				 								One Lesson at a Time<br>
												Or Whatever Works Best For You</p>
		</div>
	</div>
	<!-- Heading End -->

	<!-- This is not a priority for today (03/02/2021). -->
	<!-- I'll add documentation tomorrow (03/03/2021). -->

	<!-- Navbar -->
	<nav class="navbar navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav nav-tabs nav-justified">
				<!-- Active denotes what page a user is currently on! -->
				<!-- The list below may be a handlebars loop! -->
				<li>
    			<a href="/home">Home</a>
  			</li>
				<li>
    			<a href="/education">Education</a>
  			</li>
				<li>
    			<a href="/investing">Investing</a>
  			</li>
				<li>
    			<a href="/profile">Profile</a>
  			</li>
				<li class="active">
					<a href="/support">Support</a>
				</li>
    	</ul>
		</div>
	</nav>
</body>
</html>
